@import "tailwindcss";

@theme {
    --color-blue: #2C7DAC;
    --color-green: #4b7a7c;
    --color-green-100: #cca3a7;
    --color-black: #2a2d31;
    --color-red: #cca3a7;
    --color-acent: #7d82b3;
    --color-yellow: #99916b;
    --color-acent-100: #515373;
    --color-naby: #31334d;
    --color-white: #F4F5F7;
  }